// Article listing

.article-listing {
    @extend .section;

    .article-count {
        @extend .subtitle;
    }

    .listing-item {
        @extend .columns;
        @extend .is-desktop;

        + .listing-item {
            border-top: 1px solid rgba($border, 0.5);
        }

        &:first-of-type {
            margin-top: $column-gap;
        }

        &:last-of-type {
            margin-bottom: $column-gap;
        }

        .listing-item_left {
            @extend .column;
            @extend .is-3;
        }

        .listing-item_right {
            @extend .column;
        }

        .listing-image {
            @extend .image;
            @extend .is-16by9;
        }

        .listing-description {
            @extend .content;
            @extend .is-medium;
        }

        h3 {
            @extend .is-size-3;
            color: $title-color;
        }

        time {
            @extend .subtitle;
            @extend .is-size-6;
        }
    }
}
