<nav class="bg-purple-600 px-6 text-white" role="navigation" aria-label="main navigation">
    <div class="flex items-stretch container mx-auto">
        <div class="flex items-stretch hover:text-purple-200">
            <a href="/" class="flex items-center text-2xl pr-6 py-2">Sharper Pencil</a>
        </div>
        <div class="hoverable flex items-stretch px-3 py-2 hover:text-purple-200 cursor-pointer">
            <div class="flex items-center">Prototypes</div>
            <div
                class="hover-activated absolute bg-white text-purple-900 border border-purple-300 shadow-md whitespace-nowrap">
                <a href="/prototype/loaded-dice" class="flex items-center pl-4 pr-5 py-2 hover:bg-purple-200">Loaded
                    Dice</a>
            </div>
        </div>
    </div>
</nav>

<svg class="w-full h-10 text-purple-600 z-10 -mt-6">
    <use xlink:href="/assets/images/navbar-underline.min.svg#SharperNavUnderline"></use>
</svg>